@font-face {
    font-family: 'Arial Rounded MT';
    src: url('ArialRoundedMTBold.eot');
    src: url('ArialRoundedMTBold.eot?#iefix') format('embedded-opentype'),
        url('ArialRoundedMTBold.woff2') format('woff2'),
        url('ArialRoundedMTBold.woff') format('woff'),
        url('ArialRoundedMTBold.ttf') format('truetype'),
        url('ArialRoundedMTBold.svg#ArialRoundedMTBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tomatoes';
    src: url('Tomatoes-O8L8.ttf');
    src: url('Tomatoes-O8L8.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Daydream';
    src: url('Daydream.ttf');
    src: url('Daydream.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Crossroads';
    src: url('CrossroadsPersonalUseRegular-owql0.ttf');
    src: url('CrossroadsPersonalUseRegular-owql0.ttf') format('truetype');
}

